@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #f0efe8;
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
